* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ga Maamli", sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    width: 100vw;
    /* background: linear-gradient(-145deg, rgb(23, 93, 105) 25%, rgb(51, 12, 67) 95%); */
    background-color: rgb(33, 32, 32);
}

.mainCon {
    height: 100vh;
    width: 80%;
    background: linear-gradient(-145deg, rgb(23, 93, 105) 25%, rgb(51, 12, 67) 95%);
    margin: auto;
}

header {
    height: 12vh;
    width: 100%;
    border-bottom: 1px solid white;
}

header>nav {
    height: 100%;
    width: 100%;
    display: flex;
}

nav>.navBox1 {
    height: 100%;
    width: 25%;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;

}

nav>.navBox2 {
    height: 100%;
    width: 70%;
    display: flex;
}

.navBox2>.navSubBox1 {
    height: 100%;
    width: 70%;
}

.navBox2>.navSubBox1>ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.1em;
    font-weight: 700;
}

.navBox2>.navSubBox1>ul :hover {
    color: #1E5D7B;
    cursor: pointer;
}

.navBox2>.navSubBox2 {
    height: 100%;
    width: 25%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navSubBox2>ul {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
}

.navSubBox2>ul>li {
    cursor: pointer;
}

.navSubBox2>ul>.signup {
    height: 70%;
    width: 42%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

main {
    min-height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    height: 60vh;
    width: 45%;
    border: 1px solid rgb(23, 93, 105);
    display: none;
    border-radius: 13px;
    box-shadow: 0px 0px 15px rgba(54, 156, 233, 0.746);
}

.close {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4%;
}

.close>i {
    font-size: 26px;
    font-weight: 800;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.close >p{
    position: relative;
    padding-left: 5px;
    bottom: 15px;
    left: 5px;
    /* display: none; */
}
.inputCon {
    height: 70%;
    width: 100%;
    margin: 2% 0;
}

#email {
    display: block;
    height: 10%;
    width: 60%;
    margin: 8% 0 2% 10%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(158, 156, 156);
    color: white;
    font-size: 16px;
}

#email::placeholder {
    color: white;
    font-size: 15px;
}

#pas {
    display: block;
    height: 10%;
    width: 60%;
    margin: 8% 0 2% 10%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(158, 156, 156);
    color: white;
    font-size: 16px;
}

#pas::placeholder {
    color: white;
    font-size: 15px;
}

#submit {
    display: block;
    height: 14%;
    width: 60%;
    margin: 8% 0 2% 10%;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
#submit:hover{
    cursor: pointer;
    transition: all 2s;
    background-color:  rgb(51, 12, 67);
    color: rgb(136, 186, 195);
}